/* General Form:
selected tag {
    property: value;
}
*/
h1 {
    color: blue; /* colour keyword */
}

li {
    color: rgb(74, 97, 103); /* standard rgb */
}

p {
    color: #e09e2455; /* hex code, 2*r 2*g 2*b 2*a */
}

h4 {
    color: rgba(229, 28, 135, 0.5); /* standard rgba */
}
